.navbar {
    display: flex;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5) ;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
    background-color: #642B73;
    height: 10vh;
}

.brand{
    font-size: 2em;
    text-decoration: none;
}

.brand span{
    font-weight: bold;
    text-transform: uppercase;
}

.links_list{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.links_list li a{
    padding: .4em .6em;
    text-decoration: none;
}

.active {
    background-color: #FFF0F3;
    border-radius: 2px;
    color: black;
}
  

@media screen and (max-width: 700px) {
    .links_list li {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }
    .active {
        background-color: none;
        border-radius: 2px;
        color: black;
    }
}

@media screen and (max-width: 453px) {
    .links_list li a{
        font-size: 20px;
    }
}

@media screen and (max-width: 375px) {
    .links_list li a{
        font-size: 15px;
    }
}

@media screen and (max-width: 320px) {
    .links_list li a{
        font-size: 12px;
    }
}