.search_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.search_container h1{
    margin-bottom: 1em;
    text-align: center;
}

.search_container p{
    margin-bottom: 30px;
}

.noposts {
    text-align: center;
}

